{% extends "base.html.twig" %}

{% block title 'хто Ви ?' %}

{% block body %}




    <!-- Introduction -->
    <div class="pt-4 pb-14 text-center">
        <div class="container px-4 sm:px-8 xl:px-4">
            <p class="mb-4 text-gray-800 text-3xl leading-10 lg:max-w-5xl lg:mx-auto"> Хто Ви. It’s probably the best app in the world for this purpose. Don’t hesitate to give it a try today and you will fall in love with it</p>
            <div class="flex items-center justify-center min-h-screen">
                <h2 class="text-center text-5xl font-semibold text-indigo-500">

            </div>
        </div> <!-- end of container -->
    </div>
    <!-- end of introduction -->









{% endblock %}
